img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.inform_mm_inform-container{
  width: 100vw;
  max-width: 100%;
  height: auto;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
}
.inform_mm_inform-pcontainer{
  width: 40%;
  height: auto;
}
.inform_mm_button{
  width:100px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--colorG);
  border-width: 2px;
  margin-bottom: 50px;
  font-weight: bold;
}

.inform_work-center-title{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.inform_work-center-title > h1{
  font-size: var(--bigfont);
  color: var(--colorB);
  font-weight: bold;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.inform_work-center-title > p{
  font-size: var(--linkbox_button_fontsize);
  font-weight: bold;
  margin-left: 60px;
}

.inform_work-center-container{
  width: 100vw;
  height: auto;
}
.inform_work-works-container{
  width: 100%;
  max-width: 1600px;
  height: auto;
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0px;
  margin-top: 50px;
  align-content: flex-end;
}
.inform_work-works-rowcontainer{
  width: 100%;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inform_work-works-rowcontainer > li{
  border-width: 3px;
  display: flex;
}
.inform_work-works-rowcontainer > li:hover > .inform_work-box-container{
  transform : scale(0.95);
}
.inform_work-box-rightmargin{
  margin-right: 20px;
}
.inform_work-marginright{
  margin-right: 20px;
}
.inform_work-box-container{
  width: 30vw;
  max-width: 350px;
  height: 30vw;
  max-height: 300px;
  border-radius: 50px;
  border-width: 3px;
  background-color: var(--colorG);
  display: flex;
  flex-direction: column;
  align-items: center;
}