:root {
    --linkbox_fontsize: 20px;
    --linkbox-button_fontsize: 10px;
  }
  
body {
  margin: 0;
}




.all_navbardrop-container{
  width: 100%;
  height: 100px;
  background-color: wheat;
}

.all_navbar{
  display: flex;
  height: 100px;
}

.all_navbar-logo{
  width: 250px;
  height: 100%;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  text-align: center;
}
.all_navbar-logo p{
  margin: 0;
  font-size: 40px; 
  font-weight: bold;
}

.all_navbar-menu{
  margin: 0;
  display: flex;
  width: auto;
  height: 100%;
  list-style: none;
}
.all_navbar-menus{
  text-align: center;
  width: 100px;
}
.all_navbar-menus a{
  text-decoration: none;
  color: black;
}




.all_navdrop{
  display: flex;
  margin: 0;
  padding-left: 250px;
  width: 100%;
  height: 1px;
  background-color: gray;
  overflow: hidden;
  float: left;
  position: absolute;
}

.all_navbar:hover ~ .all_navdrop{
  height: auto;
  opacity: 1;
  transition : all 0.08s;
}
.all_navdrop:hover{
  height: auto;
  opacity: 1;
  transition : all 0.08s;
}

.all_navdrop ul{
  margin: 0;
  width: auto;
  height: 100%;
  list-style: none;
  text-align: center;
  float: left;
}
.all_navdrop-li{
  width: 100px;
  height: 50px;
}
.all_navdrop-topli{
  margin-top: 20px;

}







.main_intro-head{
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  float: none;
}
.main_intro-head h1{
  font-size: 60px; 
  margin: 0;
}




.main_linkbox {
  width: 400px;
  height: 300px;
  background-color: white;
  border-radius: 10%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_linkbox button{
    width: 100px;
    height: 60px;
}
.main_linkbox p{
  font-size: var(--linkbox_fontsize)
   
}