:root {
  --verybigfont: 50px;
  --bigfont: 40px;
  --linkbox_fontsize: 30px;
  --linkbox_button_fontsize: 20px;

  --colorB: black;
  --colorW: white;
  --colorG: rgb(131, 220, 131);
}
  
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
}




.all_navbardrop-container{
  width: 100%;
  height: 100px;
  background-color: var(--colorG);
}

.all_navbar{
  display: flex;
  width: 100%;
  height: 100px;
}

.all_navbar-logo{
  width: 250px;
  height: 100%;
  padding-top: 15px;
  text-align: center;
}
.all_navbar-logo a{
  margin: 0;
  font-size: var(--verybigfont); 
  font-weight: bold;
  text-decoration: none;
  color: var(--colorW);
}

.all_navbar-menu{
  margin: 0;
  display: flex;
  height: 100%;
  list-style: none;
}
.all_navbar-menus{
  text-align: center;
  width: 250px;
  height: 100%;
}
.all_navbar-menus p{
  text-decoration: none;
  color: var(--colorW);
  font-size: var(--verybigfont);
  font-weight: bold;
  margin-top: 20px;
}
.linebox{
  display: none;

}








.all_navdrop{
  display: flex;
  /*padding-left: 290px; 250 로고div값에 40 menu값 */
  margin-top: px;
  width: 100%;
  height: 0px;
  background-color: rgb(150, 238, 150);
  overflow: hidden;
  float: left;
  position: absolute;
  border: 2px bold var(--colorB);
  clear: both;
}

.all_navbar:hover ~ .all_navdrop{
  height: 150px;
  opacity: 1;
  transition : all 0.08s;
}
.all_navdrop:hover{
  height: 150px;
  opacity: 1;
  transition : all 0.08s;
}

.all_navdrop-logowidth{
  width: 290px;
}

.all_navdrop-phone{
  display: none;
}
.all_navdrop-ul{
  margin: 0;
  padding-left: 0px;
  width: 250px;
  height: 100%;
  list-style: none;
  text-align: center;
  float: left;
}
.all_navdrop-li{
  width: 250px;
  height: 50px;
  list-style: none;
  display: inline-block;
  font-size: var(--linkbox_fontsize);
}
.all_navdrop-topli{
  margin-top: 20px;
  margin-bottom: 10px;
}
.all_navdrop-li a{
  text-decoration: none;
  color: var(--colorW);
  font-weight: bold;
}






.main_intro-head{
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  float: none;
  display: flex;
  justify-content: center;
}
.main_intro-head div{
  width: auto;
}
.main_intro-head div h1{
  font-size: 60px; 
  margin: 0;
}



.main_linkbox-container{
  width: 100vw;
  height: auto;
  background-color: var(--colorW);
  display: flex;
  justify-content: center;
}
.main_linkbox {
  width: 90vw;
  height: 300px;
  margin-top: 70px;
  background-color: var(--colorG);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold; 
}
.garidugi{
  width: 100%;
  height: 15%;
}
.main_linkbox > p{
  font-size: var(--verybigfont)
}
.main_linkbox-button{
  width: 50%;
  max-width: 300px;
  height: 70px;
  padding-top: 5px;
  border-radius: 100px;
  border-width: 0px;
  text-align: center;
  color:white;
  background-color: var(--colorW);
}
.main_linkbox-button p{
  font-size: var(--linkbox_fontsize);
  color: var(--colorB);
  font-weight: bold;
  margin: 0px;
}















/*
@media screen and (max-width: 768px) {

}*/





@media screen and (max-width: 500px) {

  .all_navbar-menu{
    display: none;
  }

  .all_navdrop{
    display: none; /* 임시*/
    width: 100vw;
    height: 0px;
    padding: 0px;
    display: flex;
    overflow: hidden;
  }
  .all_navbar:hover ~ .all_navdrop{
    height: 350px;
    opacity: 1;
    transition : all 0.08s;
  }
  .all_navdrop:hover{
    height: 350px;
    opacity: 1;
    transition : all 0.08s;
  }
  .all_navdrop-logowidth{
    width: 0px;
  }
  #navdrop-uldiv{
    width: 200px;
  }

  .all_navdrop-phone{
    display: block;
    width: 100px;
    height: 100%;
    list-style: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .all_navdrop-phone li{
    width: 100px;
    height: 50px;
    margin: 10px;
  }
  .all_navdrop-phone li p{
    margin: 0px;
    font-size: var(--linkbox_fontsize);
    font-weight: bold;
    color: var(--colorW);
  }

  .all_navdrop-ul{
    display: block;
    font-size: var(--linkbox_button_fontsize);
    height: auto;
  }
  .all_navdrop-topli{
    margin-top: 0;
    margin-bottom: 0;
  }
  .all_navdrop-topli-phoneM{
    margin-top: 20px;
  }
  .all_navdrop-topli-phoneM2{
    margin-top: 50px;
  }
  .linebox{
    display: block;
    margin-left: 20%;
    margin-top: 25px;
  }
  .line {
    background: var(--colorW);
    margin-top:6px;
    margin-bottom:6px;
    width:56px;
    height:7px; 
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
  }

  .main_intro-head div{
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .main_intro-head div{
    width: 80%;
  }
}

