:root {
  --biggestfontformain: 70px;
  --verybigfont: 50px;
  --bigfont: 40px;
  --linkbox_fontsize: 30px;
  --linkbox_button_fontsize: 20px;
  --minfont: 15px;
  --veryminfont: 10px;

  --colorB: black;
  --colorW: white;
  --colorG: rgb(131, 220, 131);
}
  
body {
  margin: 0;
  display: flex;
}
button:hover{
  cursor:pointer
}


.forfooter{
  height: auto;
  min-height: 170%;
  padding-bottom: (200px);
}
.all_navbardrop-container{
  width: 100%;
  height: 100px;
  background-color: var(--colorG);
}

.all_navbar{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}

.all_navbar-logo{
  width: 250px;
  height: 100%;
  padding-top: 15px;
  text-align: center;
}
.all_navbar-logo a{
  margin: 0;
  font-size: var(--verybigfont); 
  font-weight: bold;
  text-decoration: none;
  color: var(--colorW);
}

.all_navbar-menu{
  margin: 0;
  display: flex;
  height: 100%;
  list-style: none;
}
.all_navbar-menus{
  text-align: center;
  width: 250px;
  height: 100%;
}
.all_navbar-menus p{
  text-decoration: none;
  color: var(--colorW);
  font-size: var(--verybigfont);
  font-weight: bold;
  margin-top: 20px;
}
.linebox{
  display: none;

}








.all_navdrop{
  display: flex;
  /*padding-left: 290px; 250 로고div값에 40 menu값 */
  margin-top: px;
  width: 100%;
  height: 0px;
  background-color: rgb(150, 238, 150);
  overflow: hidden;
  float: left;
  position: absolute;
  border: 2px bold var(--colorB);
  clear: both;
  justify-content: center;
  flex-direction: row;
}

.all_navbar:hover ~ .all_navdrop{
  height: 150px;
  opacity: 1;
  transition : all 0.08s;
}
.all_navdrop:hover{
  height: 150px;
  opacity: 1;
  transition : all 0.08s;
}

.all_navdrop-logowidth{
  width: 290px;
}

.all_navdrop-phone{
  display: none;
}
#navdrop-uldiv{
  display: flex;
  flex-direction: row;
}
.all_navdrop-ul{
  margin: 0;
  padding-left: 0px;
  width: 250px;
  height: 100%;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.all_navdrop-li{
  width: 250px;
  height: 50px;
  list-style: none;
  display: inline-block;
  font-size: var(--linkbox_fontsize);
}
.all_navdrop-topli{
  margin-top: 20px;
  margin-bottom: 10px;
}
.all_navdrop-li a{
  text-decoration: none;
  color: var(--colorW);
  font-weight: bold;
}






.main_intro-head{
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  float: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_intro-head div{
  width: auto;
}
.main_intro-head div h1{
  font-size: 60px; 
  margin: 0;
}
.main_intro-head-showdiv{
  width: 100vw;
  height: 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.main_intro-head:hover{
  height: auto;
  opacity: 1;
  transition : all 0.3s;
}
.main_intro-head:hover .main_intro-head-showdiv{
  height: 80px;
  opacity: 1;
  transition : all 0.3s;
}
.main_intro-head-showdiv > div{
  height: 80px;
}
.main_intro-head-showdiv-p{
  font-size: var(--linkbox_fontsize);
  font-weight: bold;
}
.main_intro-head-showdiv button{
  width: 15%;
  margin-top: 10px;
  border-radius: 70px;
  border-width: 0px;
  background-color: var(--colorG);
}
.main_intro-head-showdiv button p{
  font-size: 17px;
  font-weight: bold;
}
.main_intro-head-showdiv button:hover{
  cursor: pointer;
}



.main_linkbox-container{
  width: 100vw;
  height: auto;
  background-color: var(--colorW);
  display: flex;
  justify-content: center;
}
.main_linkbox {
  width: 70vw;
  height: 500px;
  margin-top: 70px;
  background-color: var(--colorG);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
}
.garidugi{
  width: 100%;
  height: 15%;
}
.main_linkbox > p{
  font-size: var(--biggestfontformain)
}
.main_linkbox-button{
  width: 50%;
  max-width: 300px;
  height: 70px;
  margin-bottom: 50px;
  padding-top: 5px;
  border-radius: 100px;
  border-width: 0px;
  text-align: center;
  color:white;
  background-color: var(--colorW);
  padding-left: 5px;
  padding-right: 5px;
}
.main_linkbox-button:hover{
  cursor:pointer
}
.main_linkbox-button p{
  font-size: var(--linkbox_fontsize);
  color: var(--colorB);
  font-weight: bold;
  margin: 0px;
}


.main_smlinkboxes-container{
  width: 100vw;
  height: auto;
  display: flex;
}
.main_smlinkboxes-smcontainer{
  width: 49vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_smlinkboxes-linkbox{
  width: 40vw;
  height: 450px;
  border-radius: 100px;
  background-color: var(--colorG);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.main_smlinkboxes-linkbox > p{
  margin-top: 70px;
  font-size: var(--bigfont);
  font-weight: bold;
}
.main_smlinkboxes-button{
  width: 50%;
  height: 20%;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 70px;
  border-width: 0px;
  background-color: var(--colorW);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main_smlinkboxes-button > p{
  font-size: var(--linkbox_fontsize);
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}


.all_footer{
  width: 100vw;
  height: 200px;
  background-color: rgb(241, 241, 241);
  position : relative;
  /* transform : translateY(-100%); */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
}
.all_footer-logodiv{
  width: 30%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.all_footer-logodiv > a{
  font-size: var(--bigfont);
  text-decoration: none;
  color: var(--colorG);
  font-weight: bold;
}
.all_footer-everycontainer{
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.all_footer-menucontainer{
  width: 40%;
  min-width: 80px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.all_footer-ul{
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
}
.all_footer-제목li{
  margin-top: 20px;
  list-style: none;
  font-size: var(--linkbox_button_fontsize);
  font-weight: bold;
}
.all_footer-li{
  width: 80px;
  margin-top: 5px;
  list-style: none;
  font-size: var(--minfont);
  font-weight: bold;
}
.all_footer-li a{
  text-decoration: none;
  color: var(--colorB);
}
.all_footer-기타ul{
  width: 300px;
}
.all_footer-기타제목li{
  margin-top: 20px;
  list-style: none;
  font-size: var(--linkbox_button_fontsize);
  font-weight: bold;
}
.all_footer-기타li{
  margin-top: 5px;
  list-style: none;
  font-size: var(--minfont);
  font-weight: bold;
}













/*
@media screen and (max-width: 768px) {

}*/





@media screen and (max-width: 500px) {

  .all_navbar-menu{
    display: none;
  }

  .all_navdrop{
    display: none; /* 임시*/
    width: 100vw;
    height: 0px;
    padding: 0px;
    display: flex;
    overflow: hidden;
  }
  .all_navbar:hover ~ .all_navdrop{
    height: 350px;
    opacity: 1;
    transition : all 0.08s;
  }
  .all_navdrop:hover{
    height: 350px;
    opacity: 1;
    transition : all 0.08s;
  }
  .all_navdrop-logowidth{
    width: 0px;
  }
  #navdrop-uldiv{
    width: 200px;
    display: flex;
    flex-direction: row;
  }

  .all_navdrop-phone{
    display: block;
    width: 100px;
    height: 100%;
    list-style: none;
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .all_navdrop-phone li{
    width: 100px;
    height: 50px;
    margin: 10px;
  }
  .all_navdrop-phone li p{
    margin: 0px;
    font-size: var(--linkbox_fontsize);
    font-weight: bold;
    color: var(--colorW);
  }

  .all_navdrop-ul{
    display: block;
    font-size: var(--linkbox_button_fontsize);
    height: auto;
  }
  .all_navdrop-topli{
    margin-top: 0;
    margin-bottom: 0;
  }
  .all_navdrop-topli-phoneM{
    margin-top: 20px;
  }
  .all_navdrop-topli-phoneM2{
    margin-top: 50px;
  }
  .linebox{
    display: block;
    margin-left: 20%;
    margin-top: 25px;
  }
  .line {
    background: var(--colorW);
    margin-top:6px;
    margin-bottom:6px;
    width:56px;
    height:7px; 
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
  }

  .main_intro-head div{
    width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .main_intro-head div{
    width: 80%;
  }
}

